.candidate-container {
  & .candidate-card {
    &.ant-card-bordered {
      border: 1px solid @charcoal-4;
      border-radius: 4px;
    }
    & .ant-card-head {
      padding: 0 16px;
    }
    & .ant-card-body {
      padding: 16px;
    }
    & .ant-card-actions {
      & li {
        margin: 8px 0 !important;
        padding: 0 16px;
      }
    }

    & .card-extra {
      font-size: 12px;
      font-weight: bold;
      padding: 4px 8px;
      border-radius: 4px;
      user-select: none;

      &.FR {
        background: #fff6d9 !important;
        color: #816e34;
      }
      &.SR {
        background: #2aa39f !important;
        color: #ffffff;
      }
      &.TR {
        background: #6592f8 !important;
        color: #ffffff;
      }
      &.SL {
        background: #248708 !important;
      }
      &.RJ {
        background: red !important;
      }
      &.MR {
        background: #42a542 !important;
        color: #ffffff;
      }
    }
  }
}
