.candidate-container {
  & .candidate-card {
    &.ant-card-bordered {
      border: 1px solid @charcoal-4;
      border-radius: 4px;
    }
    & .ant-card-head {
      padding: 0 16px;
    }
    & .ant-card-body {
      padding: 16px;
    }

    & .card-extra {
      font-size: 12px;
      font-weight: 600;
      padding: 4px;
      border-radius: 4px;

      &.FR {
        background: rgb(211, 211, 48) !important;
      }
      &.SR {
        background: orange !important;
      }
      &.TR {
        background: lightblue !important;
      }
      &.SL {
        background: lightgreen !important;
      }
      &.RJ {
        background: rgba(255, 0, 0, 0.589) !important;
      }
      &.SC {
        background: #eeeeee !important;
      }
    }
  }
}
