.ant-typography {
  margin: 0 !important;
}

.text-bold {
  font-weight: bold !important;
}
.text-semibold {
  font-weight: 600;
}
.text-primary {
  color: @charcoal-10 !important;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.m-v-auto {
  margin: auto 0;
}
.p-left-1 {
  padding-left: 1em;
}

.p-bottom-2 {
  padding-bottom: 2em;
}
.p-top-3 {
  padding-top: 3em;
}
.m-top-1 {
  margin-top: 1em;
}
