.ant-typography {
  margin: 0 !important;
}

.text-bold {
  font-weight: bold !important;
}
.text-semibold {
  font-weight: 600;
}
.text-primary {
  color: @charcoal-10 !important;
}
.text-disabled {
  color: @charcoal-6 !important;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-small {
  font-size: 12px;
}
.text-large {
  font-size: 18px;
}

.m-v-auto {
  margin: auto 0;
}
.p-left-1 {
  padding-left: 1em;
}
.p-all-0 {
  padding: 0px !important;
}

.p-bottom-2 {
  padding-bottom: 2em;
}
.p-top-3 {
  padding-top: 3em;
}
.m-top-1 {
  margin-top: 1em !important;
}
.m-bottom-1 {
  margin-bottom: 1em !important;
}
.m-b-8 {
  margin-bottom: 8px;
}
.p-bottom-1 {
  padding-bottom: 1em;
}

.font-size-large {
  font-size: 24px;
}

.br-50 {
  border-radius: 50px !important;
}

.h-auto {
  height: auto;
}

.text-link {
  color: @cyan-8;
}

.m-b-1 {
  margin-bottom: 1em;
}
.m-t-1 {
  margin-top: 1em;
}
.m-t-2 {
  margin-top: 2em;
}

// AboutUS Styles Need to replace to component

.about-us {
  & .card {
    background: #ffffff;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 25px;

    & .ant-card-body {
      padding: 16px;
    }

    & .ant-avatar {
      height: 64px;
      width: 64px;
      line-height: 64px;
    }
  }
  & .profile-pic {
    & img {
      padding: 0px;
    }
  }
}
