.layout-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #ffffff;
}
.layout-content {
  margin-top: 64px;
  background-color: #ffffff;
  min-height: calc(100vh - 135px);
}
.layout-footer {
  height: 56px;
  line-height: 56px;
  background-color: lightgray;
}

.home-banner {
  & img {
    height: 500px;
  }
}

.home-illustrations {
  & img {
    height: 250px;
    width: 250px;
  }
}

.d-main-title {
  padding: 30px 0 50px 0;
  text-align: center;
  font-weight: 600;
}
.m-main-title {
  padding: 30px 0;
  & h2 {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
}

.sub-title {
  font-weight: 600;
}
.profile-pic {
  & img {
    height: 18em;
  }
}
